<h1><%= @sheet.name %></h1>
<table data-sheet-id="<%= @sheet.id %>" class="sheet">
  <thead>
    <tr>
      <th></th>
      <% ('A'..'J').each do |letter| %>
        <th class="text-center"><%= letter %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% ('1'..'10').each do |row| %>
      <tr>
        <td class="text-center"><%= row %></td>
        <% ('A'..'J').each do |column| %>
          <% cell = get_cell(@sheet, column, row) %>
          <td>
            <input type="text" 
              value="<%= cell_value(cell) %>" 
              data-coordinate="<%= coordinate(column, row) %>"
              <%= cell_formula(cell) %>
              class="cell"
            >
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>